
.sub{
    color: white;
    background-color: rgb(82, 245, 41);
    padding: 10px 30px; /*height and width*/
    border: medium;
    cursor: pointer; /*whenever the cursor goees it changes to pointer*/
    
}

#op{
    color: red;
}

#hed{
    background-color: rgb(10, 252, 232);
}